<<<<<<< HEAD
<% @posts.each do |post|%>
  <div>
    <%= post.content%>
  </div>
<%end%>
=======
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-8 mx-auto">
        <h1>Beerckathon</h1>
        <% @posts.each do |post|%>
          <div>
            <%= post.content%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
>>>>>>> 7eca2ed95a9ec1f18396dd5b40f81ffb4bb7ff1d
