<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>
<% @posts.each do |post|%>
<div>
  <%= post.content%>
  <button class="js-modal-open" id=<%= post.id%>>destroy</button>
  <div class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <%= image_tag "cheer.gif", alt: "Rails icon", id: "public", class: "image", width: "100%" %>
    </div>
  </div>
</div>
<% end %>

<script>
  $(function () {
    $('.js-modal-open').on('click', function () {
      var post_id =  $(this).attr("id");
      $.ajax({
        type: 'POST',
        url: '/cheer',
        data: {
          post_id: post_id
        },
        dataType: 'json' //json形式指定
      })
      $('.js-modal').fadeIn();
      $('.js-modal').delay(500).fadeOut("slow");
      $(this).parent().remove();
      return false;
    });
  });
</script>