/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}


$primary-color: #FAC503;
.bg-beer{
    background-color: $primary-color; 
    background-size: cover;
} 

.text-beer{
    color: black;
    height: 100px;
    border-radius: 5px;

}

body{
    background-image: url(beer-3803425_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
} 

.bg-light{
    opacity: 0.5;
}
header, footer{
    opacity: 0.6;
}

.black_color{
<<<<<<< HEAD
   color:black;
=======
    color:black;
>>>>>>> master
}
